.u-section-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0 495px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 258px;
  height: 319px;
  object-position: 50% 95.52%;
  margin: -577px auto 0 137px;
}

.u-section-1 .u-list-1 {
  width: 141px;
  margin: 9px auto 0 137px;
}

.u-section-1 .u-repeater-1 {
  min-height: 152px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 721px 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 295px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 621px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 438px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -757px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -1218px;
    margin-left: 82px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 58px;
  }
}