.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 282px;
  margin: 9px auto 0;
}

.u-section-1 .u-list-1 {
  width: 141px;
  margin: -291px 240px 60px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 152px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-right: 199px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 362px;
}

.u-section-2 .u-text-1 {
  margin: 33px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}