.u-section-1 .u-sheet-1 {
  min-height: 993px;
}

.u-section-1 .u-text-1 {
  margin: 39px 546px 0 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 29px;
  margin-top: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 742px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 153px;
  height: 225px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 346px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 610px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    inset: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    inset: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    inset: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    inset: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    inset: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1903px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1811px;
}

.u-section-2 .u-text-1 {
  margin: 45px 826px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 498px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 199px;
  height: 300px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 498px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 20px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 0 20px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 389px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 300px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 389px;
}

.u-section-2 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 20px auto 0 20px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0 20px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 486px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 486px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 95px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  margin: 20px auto 0 20px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 30px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 626px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-2 .u-image-1 {
    width: 191px;
    height: 288px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 438px;
  }

  .u-section-2 .u-image-2 {
    width: 191px;
    height: 288px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 321px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 202px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 280px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 280px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 401px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 406px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-2 .u-image-1 {
    width: 132px;
    height: 199px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-2 .u-image-2 {
    width: 132px;
    height: 199px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 547px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 307px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3620px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 226px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 886px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 942px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 144px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 602px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 863px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2066px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 3px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 593px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 810px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -810px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 543px;
  }
}